@model List<CityViewModel>

@{
    Layout = "_AdminLayout";
}

@if (ViewBag.message != null)
{
    <div class="alert alert-danger mt-5">
        @ViewBag.message
    </div>
}

@if (Model!=null)
{
    <h2 class="text-center mt-2">Şehirler</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Şehir Adı</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in Model)
            {
                <tr>
                    <td>@city.CityId</td>
                    <td>@city.CityName</td>
                    <td><a class="btn btn-warning" href="/Admin/UpdateCity/@city.CityId">Güncelle</a></td>
                    <td><a class="btn btn-danger" href="/Admin/DeleteCity/@city.CityId">Sil</a></td>  
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-info" href="/Admin/AddCity">Yeni Şehir Ekle</a>
}