@model List<CategoryViewModel>

@{
    Layout = "_AdminLayout";
}

@if (ViewBag.message != null)
{
    <div class="alert alert-success mt-5">
        @ViewBag.message
    </div>
}

@if (Model != null)
{
    <h2 class="text-center mt-2">Kategoriler</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kategori Adı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                </tr>
            }
        </tbody>
    </table>
}