@model List<CategoryViewModel>

@{
    Layout = "_AdminLayout";
}

@if (ViewBag.message != null)
{
    <div class="alert alert-danger mt-5">
        @ViewBag.message
    </div>
}

@if (Model != null)
{
    <h2 class="text-center mt-2">Kategoriler</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kategori Adı</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    <td><a class="btn btn-warning" href="/Admin/UpdateCategory/@category.CategoryId">Güncelle</a></td>
                    <td><a class="btn btn-danger" href="/Admin/DeleteCategory/@category.CategoryId">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-info" href="/Admin/AddCategory">Yeni Kategori Ekle</a>
}