<h2 class="text-center mt-2">Kayıt Formu</h2>
<form method="post">
    <div class="mb-3">
        <label class="form-label" for="FirstName">Adınız</label>
        <input type="text" class="form-control" name="FirstName" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="LastName">Soyadınız</label>
        <input type="text" class="form-control" name="LastName" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="Mail">Mail Adresi</label>
        <input type="email" class="form-control" name="Mail" />
    </div>
     <div class="mb-3">
        <label class="form-label" for="Password">Şifre</label>
        <input type="password" class="form-control" name="Password" />
    </div>
     <div class="mb-3">
        <label class="form-label" for="ConfirmPassword">Şifre Tekrar</label>
        <input type="password" class="form-control" name="ConfirmPassword" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="RoleId">Kayıt Türü</label>
        <select class="form-select" name="RoleId">
            <option value="1">Organizatör</option>
            <option value="2">Katılımcı</option>
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Kayıt Ol</button>
    </div>
</form>
@if (ViewBag.message != null)
{
    <div class="alert alert-success mt-5">
        @ViewBag.message
    </div>
}